@font-face {
   font-family: "Merriweather";
   src: url("../fonts/Merriweather-Bold.eot");
   src: local("☺"), url("../fonts/Merriweather-Bold.woff") format("woff"),
      url("../fonts/Merriweather-Bold.ttf") format("truetype"), url("../fonts/Merriweather-Bold.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Merriweather";
   src: url("../fonts/Merriweather-Regular.eot");
   src: local("☺"), url("../fonts/Merriweather-Regular.woff") format("woff"),
      url("../fonts/Merriweather-Regular.ttf") format("truetype"),
      url("../fonts/Merriweather-Regular.svg") format("svg");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Merriweather";
   src: url("../fonts/Merriweather-Italic.eot");
   src: local("☺"), url("../fonts/Merriweather-Italic.woff") format("woff"),
      url("../fonts/Merriweather-Italic.ttf") format("truetype"), url("../fonts/Merriweather-Italic.svg") format("svg");
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Bold.eot");
   src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"),
      url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Regular.eot");
   src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"),
      url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Regular.eot");
   src: local("☺"), url("../fonts/Raleway-Regular.woff") format("woff"),
      url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg") format("svg");
   font-weight: 400;
   font-style: normal;
}
